
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.toDoList{
    width: 50%;
    
}
.todo {
	display: flex;
	padding: 8px 10px 9px 9px;
	background-color:#918686;
	border-bottom: 1px solid#a495d8;
    font-family: cursive;
    border-radius: 10px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
}

.todo:nth-child(even) {
	background-color:#918686 ;
}

.todo:last-of-type {
	border-bottom: 0;
}

.todo .id {
	flex: 1 1 50px;
    font-family: cursive;
}

.todo .content {
	flex: 1 1 100%;
    font-family: cursive;
}

.todo.done .content {
	text-decoration: line-through;
}

.todo-input {
	display: block;
	width: 100%;
	padding: 10px 15px;
	background-color: #918686;
	margin-top: 15px;
	font-size: 16px;
	outline: none;
    font-family: cursive;
    border-radius: 10px;
}
input::placeholder{
    color:rgb(223, 205, 205)
}


.todo-submit {
	display: block;
	width: 100%;
	max-width: 100px;
	appearance: none;
	border: none;
	outline: none;
    cursor: pointer;

	background-color: #a495d8;
	color: black  ;
	margin: 10px auto;
    border-radius: 5px;

	padding: 10px 15px;
	font-size: 16px;
	font-weight: 700;
    font-family: cursive;
}
.todo-submit:hover{
    background-color:#9586ce ;
}
.todo-submit:active{
    background-color:#9f8ee4 ;
}
.delete{
width: 25px;
height: 25px;
background-color:#a495d8 ;
color: black  ;
font-family: cursive;
border: none;
border-radius: 5px;
cursor: pointer;
}
.delete:hover{
    background-color:#9586ce ;
}
.delete:active{
    background-color:#9f8ee4 ;
}