<div class="container">
  <div class="toDoList">
    <!--ejecuta addHomework-->
    <form (submit)="addHomework()">
      <input
        required
        type="text"
        class="todo-input"
        placeholder="write your homework"
        [(ngModel)]="inputHomework"
        name="inputHomework"
      />
      <input type="submit" value="add" class="todo-submit" />
    </form>
    <!--recorre toDolist y se crea la clase dinamica-->
    <div
      *ngFor="let todo of toDoList; let i = index"
      class="todo {{ todo.completed ? 'done' : '' }}"
    >
      <!--ejecuta toggleDone-->
      <div class="id">{{ i }}</div>
      <div class="content" (click)="toggleDone(i)">{{ todo.content }}</div>
      <!--ejecuta deleteHomework-->
      <button class="delete" (click)="deleteHomework(i)"><b>X</b></button>
    </div>
  </div>
</div>
